@{
}
@* This is for reviewing orders *@
@model LegosWithAurora.Models.Order

<tr style="border: 1px solid white;border-collapse: collapse;">
    <td>@Model.TransactionId</td>
    <td>@Model.CustomerId</td>
    <td>@Model.Date</td>
    <td>@Model.DayOfWeek</td>
    <td>@Model.Time</td>
    <td>@Model.EntryMode</td>
    <td>@Model.Amount</td>
    <td>@Model.TypeOfTransaction</td>
    <td>@Model.CountryOfTransaction</td>
    <td>@Model.ShippingAddress</td>
    <td>@Model.Bank</td>
    <td>@Model.TypeOfCard</td>
    <td>@Model.Fraud</td>
    <td>
        <form method="post">
            <button type="submit" class="btn zesty-button" style="width:100px;" asp-controller="Home" asp-action="AdminOrderAccept" asp-route-id="@Model.TransactionId">Accept</button>
        </form>
        <a class="btn zesty-button-red" style="width:100px;" asp-controller="Home" asp-action="AdminOrderCancelled" asp-route-id="@Model.TransactionId">Reject</a>
    </td>
</tr>
